body {
    background: url(../img/system/bg.jpg);
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 60px;
    background-color: white;
}

.navbar {
    box-shadow: 0 4px 2px 0 rgba(15, 15, 15, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
}

footer {
    bottom: 0px;
    right: 5px;
    width: 100%;
}